In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(r'C:\Users\Usuario\Desktop\Ironhack\proyect_educ_positive\csv limpios\num_noches_original.csv', sep=';', encoding='latin-1')
df

    Duración del viaje  Periodo          Total
0        Ninguna noche  2020M12  17.476.868,00
1              1 noche  2020M12   1.307.881,00
2      De 2 a 3 noches  2020M12   3.283.671,00
3      De 4 a 7 noches  2020M12   8.251.087,00
4     De 8 a 15 noches  2020M12   4.125.222,00
..                 ...      ...            ...
373            1 noche  2015M10            NaN
374    De 2 a 3 noches  2015M10            NaN
375    De 4 a 7 noches  2015M10            NaN
376   De 8 a 15 noches  2015M10            NaN
377   Más de 15 noches  2015M10            NaN

[378 rows x 3 columns]

In [9]:
df.fillna(0, inplace=True)
#df

In [10]:
df['Año'] = df.iloc[:, 1].str[:4]
df.head

<bound method NDFrame.head of     Duración del viaje  Periodo          Total   Año
0        Ninguna noche  2020M12  17.476.868,00  2020
1              1 noche  2020M12   1.307.881,00  2020
2      De 2 a 3 noches  2020M12   3.283.671,00  2020
3      De 4 a 7 noches  2020M12   8.251.087,00  2020
4     De 8 a 15 noches  2020M12   4.125.222,00  2020
..                 ...      ...            ...   ...
373            1 noche  2015M10              0  2015
374    De 2 a 3 noches  2015M10              0  2015
375    De 4 a 7 noches  2015M10              0  2015
376   De 8 a 15 noches  2015M10              0  2015
377   Más de 15 noches  2015M10              0  2015

[378 rows x 4 columns]>

In [11]:
df['Meses'] = df.iloc[:, 1].str[-2:]
df.head

<bound method NDFrame.head of     Duración del viaje  Periodo          Total   Año Meses
0        Ninguna noche  2020M12  17.476.868,00  2020    12
1              1 noche  2020M12   1.307.881,00  2020    12
2      De 2 a 3 noches  2020M12   3.283.671,00  2020    12
3      De 4 a 7 noches  2020M12   8.251.087,00  2020    12
4     De 8 a 15 noches  2020M12   4.125.222,00  2020    12
..                 ...      ...            ...   ...   ...
373            1 noche  2015M10              0  2015    10
374    De 2 a 3 noches  2015M10              0  2015    10
375    De 4 a 7 noches  2015M10              0  2015    10
376   De 8 a 15 noches  2015M10              0  2015    10
377   Más de 15 noches  2015M10              0  2015    10

[378 rows x 5 columns]>

In [12]:
df = df.drop(df.columns[1], axis=1)
df.head

<bound method NDFrame.head of     Duración del viaje          Total   Año Meses
0        Ninguna noche  17.476.868,00  2020    12
1              1 noche   1.307.881,00  2020    12
2      De 2 a 3 noches   3.283.671,00  2020    12
3      De 4 a 7 noches   8.251.087,00  2020    12
4     De 8 a 15 noches   4.125.222,00  2020    12
..                 ...            ...   ...   ...
373            1 noche              0  2015    10
374    De 2 a 3 noches              0  2015    10
375    De 4 a 7 noches              0  2015    10
376   De 8 a 15 noches              0  2015    10
377   Más de 15 noches              0  2015    10

[378 rows x 4 columns]>

In [13]:
df.fillna('0', inplace=True)
df.head

<bound method NDFrame.head of     Duración del viaje          Total   Año Meses
0        Ninguna noche  17.476.868,00  2020    12
1              1 noche   1.307.881,00  2020    12
2      De 2 a 3 noches   3.283.671,00  2020    12
3      De 4 a 7 noches   8.251.087,00  2020    12
4     De 8 a 15 noches   4.125.222,00  2020    12
..                 ...            ...   ...   ...
373            1 noche              0  2015    10
374    De 2 a 3 noches              0  2015    10
375    De 4 a 7 noches              0  2015    10
376   De 8 a 15 noches              0  2015    10
377   Más de 15 noches              0  2015    10

[378 rows x 4 columns]>

In [15]:
df.to_csv('num_noches_csv.csv', index=False)
df

    Duración del viaje          Total   Año Meses
0        Ninguna noche  17.476.868,00  2020    12
1              1 noche   1.307.881,00  2020    12
2      De 2 a 3 noches   3.283.671,00  2020    12
3      De 4 a 7 noches   8.251.087,00  2020    12
4     De 8 a 15 noches   4.125.222,00  2020    12
..                 ...            ...   ...   ...
373            1 noche              0  2015    10
374    De 2 a 3 noches              0  2015    10
375    De 4 a 7 noches              0  2015    10
376   De 8 a 15 noches              0  2015    10
377   Más de 15 noches              0  2015    10

[378 rows x 4 columns]