In [1]:
import pandas as pd

#df = pd.read_csv(r'C:\Users\Usuario\Desktop\Ironhack\proyect_educ_positive\csv limpios\razones_viaje.csv')

#df

df = pd.read_csv(r'C:\Users\Usuario\Desktop\Ironhack\proyect_educ_positive\csv limpios\razones_viaje.csv', sep=";")

df

              Motivo del viaje  Periodo          Total
0    Ocio, recreo y vacaciones  2020M12  15.533.526,00
1    Ocio, recreo y vacaciones  2020M11  15.148.112,00
2    Ocio, recreo y vacaciones  2020M10  14.852.465,00
3    Ocio, recreo y vacaciones  2020M09  14.051.513,00
4    Ocio, recreo y vacaciones  2020M08  13.148.925,00
..                         ...      ...            ...
184              Otros motivos  2016M02     930.065,00
185              Otros motivos  2016M01     506.662,00
186              Otros motivos  2015M12            NaN
187              Otros motivos  2015M11            NaN
188              Otros motivos  2015M10            NaN

[189 rows x 3 columns]

In [2]:
df.shape

(189, 3)

In [3]:
df.columns

Index(['Motivo del viaje', 'Periodo', 'Total'], dtype='object')

In [4]:
df = df.dropna()
df.shape

(180, 3)

In [6]:
df['Año'] = df.iloc[:, 1].str[:4]
df.head

C:\Users\Usuario\AppData\Local\Temp\ipykernel_6792\1009849584.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Año'] = df.iloc[:, 1].str[:4]

<bound method NDFrame.head of               Motivo del viaje  Periodo          Total   Año
0    Ocio, recreo y vacaciones  2020M12  15.533.526,00  2020
1    Ocio, recreo y vacaciones  2020M11  15.148.112,00  2020
2    Ocio, recreo y vacaciones  2020M10  14.852.465,00  2020
3    Ocio, recreo y vacaciones  2020M09  14.051.513,00  2020
4    Ocio, recreo y vacaciones  2020M08  13.148.925,00  2020
..                         ...      ...            ...   ...
181              Otros motivos  2016M05   2.682.802,00  2016
182              Otros motivos  2016M04   2.128.566,00  2016
183              Otros motivos  2016M03   1.422.453,00  2016
184              Otros motivos  2016M02     930.065,00  2016
185              Otros motivos  2016M01     506.662,00  2016

[180 rows x 4 columns]>

In [8]:
df['Meses'] = df.iloc[:, 1].str[-2:]
df.head

C:\Users\Usuario\AppData\Local\Temp\ipykernel_6792\3687722988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Meses'] = df.iloc[:, 1].str[-2:]

<bound method NDFrame.head of               Motivo del viaje  Periodo          Total   Año Meses
0    Ocio, recreo y vacaciones  2020M12  15.533.526,00  2020    12
1    Ocio, recreo y vacaciones  2020M11  15.148.112,00  2020    11
2    Ocio, recreo y vacaciones  2020M10  14.852.465,00  2020    10
3    Ocio, recreo y vacaciones  2020M09  14.051.513,00  2020    09
4    Ocio, recreo y vacaciones  2020M08  13.148.925,00  2020    08
..                         ...      ...            ...   ...   ...
181              Otros motivos  2016M05   2.682.802,00  2016    05
182              Otros motivos  2016M04   2.128.566,00  2016    04
183              Otros motivos  2016M03   1.422.453,00  2016    03
184              Otros motivos  2016M02     930.065,00  2016    02
185              Otros motivos  2016M01     506.662,00  2016    01

[180 rows x 5 columns]>

In [9]:
df = df.drop(df.columns[1], axis=1)
df.head

<bound method NDFrame.head of               Motivo del viaje          Total   Año Meses
0    Ocio, recreo y vacaciones  15.533.526,00  2020    12
1    Ocio, recreo y vacaciones  15.148.112,00  2020    11
2    Ocio, recreo y vacaciones  14.852.465,00  2020    10
3    Ocio, recreo y vacaciones  14.051.513,00  2020    09
4    Ocio, recreo y vacaciones  13.148.925,00  2020    08
..                         ...            ...   ...   ...
181              Otros motivos   2.682.802,00  2016    05
182              Otros motivos   2.128.566,00  2016    04
183              Otros motivos   1.422.453,00  2016    03
184              Otros motivos     930.065,00  2016    02
185              Otros motivos     506.662,00  2016    01

[180 rows x 4 columns]>

In [11]:
df.fillna('0', inplace=True)
df.head

<bound method NDFrame.head of               Motivo del viaje          Total   Año Meses
0    Ocio, recreo y vacaciones  15.533.526,00  2020    12
1    Ocio, recreo y vacaciones  15.148.112,00  2020    11
2    Ocio, recreo y vacaciones  14.852.465,00  2020    10
3    Ocio, recreo y vacaciones  14.051.513,00  2020    09
4    Ocio, recreo y vacaciones  13.148.925,00  2020    08
..                         ...            ...   ...   ...
181              Otros motivos   2.682.802,00  2016    05
182              Otros motivos   2.128.566,00  2016    04
183              Otros motivos   1.422.453,00  2016    03
184              Otros motivos     930.065,00  2016    02
185              Otros motivos     506.662,00  2016    01

[180 rows x 4 columns]>

In [12]:
df.to_csv('razones_viaje.csv', index=False)