In [6]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Usuario\Desktop\Ironhack\proyect_educ_positive\csv limpios\trasportes.csv", encoding='latin-1')
df

                                                    Tipo_Transporte;Año;Total
3: Servicios de transporte de pasajeros por fer...                        9.0
4: Servicios de transporte de pasajeros por car...                        4.0
5: Servicios de transporte de pasajeros por agu...                        9.0
6: Servicios de transporte aéreo de pasajeros;2...                       30.0
7: Servicios de alquiler de equipos de transpor...                        4.0
3: Servicios de transporte de pasajeros por fer...                        9.0
4: Servicios de transporte de pasajeros por car...                       20.0
5: Servicios de transporte de pasajeros por agu...                        2.0
6: Servicios de transporte aéreo de pasajeros;2...                       60.0
7: Servicios de alquiler de equipos de transpor...                       60.0
3: Servicios de transporte de pasajeros por fer...                        2.0
4: Servicios de transporte de pasajeros por car...                       90.0
5: Servicios de transporte de pasajeros por agu...                        1.0
6: Servicios de transporte aéreo de pasajeros;2...                       50.0
7: Servicios de alquiler de equipos de transpor...                        1.0
3: Servicios de transporte de pasajeros por fer...                       40.0
4: Servicios de transporte de pasajeros por car...                       70.0
5: Servicios de transporte de pasajeros por agu...                        6.0
6: Servicios de transporte aéreo de pasajeros;2...                       30.0
7: Servicios de alquiler de equipos de transpor...                        NaN
3: Servicios de transporte de pasajeros por fer...                        9.0
4: Servicios de transporte de pasajeros por car...                        0.0
5: Servicios de transporte de pasajeros por agu...                        6.0
6: Servicios de transporte aéreo de pasajeros;2...                       90.0
7: Servicios de alquiler de equipos de transpor...                        NaN

In [8]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Usuario\Desktop\Ironhack\proyect_educ_positive\csv limpios\trasportes.csv", encoding='latin-1')

df['Año'] = df.iloc[:, 0].str[:4]

df

AttributeError: Can only use .str accessor with string values!

In [ ]:
df['Año'] = df.iloc[:, 0].str[:4]
df.head